/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/vendor
node_modules/
/.grunt
/.idea
/.gitattributes
.bash_history
.cache/
.config/
.composer/
.idea/
.v8*
*.DS_Store
.htpasswd
.lesshst
.local/
.npm/
.my.cnf
.mysql_history
.profile
.ssh
.subversion/
.user.ini
.vagrant/
.vim/
.viminfo
.zprofile
.zsh_history
.zshrc
.zcompdump-gecko01-5.0.7
.zcompdump-*
